@import "tailwindcss";

@theme {
  --font-sans: "montserrat", system-ui, sans-serif;
  --color-custom-blue: #0d99ff;
  --color-custom-darkBlue: #0066b7;
  --color-custom-dark: #3b3d40;
  --color-custom-light: #f5f7f8;
  --animate-custom-pulse: custom-pulse 2s ease-out infinite;
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-padding: 90px;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .subtitle {
    font-size: 1.25rem;
  }
  .cta-btn {
    margin-right: 0.5em;
    font-size: 1rem;
  }
}

@layer components {
  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
  }
  .cta-btn {
    box-shadow: 0 0 0 0;
    /* animation: pulse 2s infinite ease-out; */
    transition: all 0.3s;
  }

  @keyframes custom-pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(13, 153, 255, 0.75);
    }

    100% {
      box-shadow: 0 0 0 5px rgba(13, 153, 255, 0);
    }
  }
}

@font-face {
  font-family: "montserrat";
  src:
    url("../fonts/montserrat-light-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src:
    url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src:
    url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src:
    url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
